## Words

In [5]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [16]:
word_up = []
for w in words:
    word_up.append(w.upper())
print(word_up)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [17]:
only5 = []
for w in words:
    if len(w)>5:
        only5.append(w)
only5

['filling', 'theatre', 'easygoing', 'island']

**Print the first word starting with "t"**

In [35]:
word_t = []
for w in words:
    if w.startswith("t")==True:
        word_t.append(w)
        break
print(word_t)

['theatre']

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [40]:
sq = []
for n in range(2,11):
    sq.append(n ** 2)
print(sq)

[4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [42]:
sq_odd = []
for n in range(2,11):
    if n % 2 != 0:
        sq_odd.append(n ** 2)
sq_odd

[9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [49]:
sq_8 = []
for n in range(8,101):
    if n % 8 == 0:
        sq_8.append(n**2)
print(sq_8)

[64, 256, 576, 1024, 1600, 2304, 3136, 4096, 5184, 6400, 7744, 9216]

## People

In [51]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "LucÃ­a",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [139]:
len(people)
e = []
for di in people:
    e.append()
people[0] ["name"]

'Juan'

**How many people have kids**?

In [145]:
kids = 0
for person in people:
    if person["n_kids"] > 0:
        kids += 1
kids

4

**How many kids do they have in total?**

In [153]:
n_kids = []
for person in people:
    n_kids.append(person["n_kids"])
sum(n_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [180]:
nn_kids = []
for person in people:
    if person["name"].endswith("a"):
        person["n_kids"] +=1
        nn_kids.append(person)