## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [8]:
# your code here
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']
words_mayus= []
for i in words:
    words_mayus.append(i.upper())
print(words_mayus)

['PLAY', 'FILLING', 'BAR', 'THEATRE', 'EASYGOING', 'DATE', 'LEAD', 'THAT', 'STORY', 'ISLAND']

**Create a new list containing only words with 5 or more letters**

In [10]:
# your code here
long_words=[]
for word in words:
    if len(word) >= 5:
        long_words.append(word)
print(long_words)

['filling', 'theatre', 'easygoing', 'story', 'island']

**Print the first word starting with "t"**

In [56]:
# your code here
new_list= []
for word in words:
    if word.startswith('t'):
        new_list.append(word)
        if len(new_list) > 1:
            break
        print(word)

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [57]:
# your code here
sq=[]
for i in range(1,11):
    sq.append(i**2)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [58]:
# your code here
sq2=[]
for i in range(1,11,2):
    sq2.append(i**2)
print(sq2)

[1, 9, 25, 49, 81]

**Create a list with the squares of all multiples of 8 below 1000**

In [59]:
# your code here
lista8= []

for num in range(1,1001):
    lista8.append(num*8)
    for i in lista8:
        if i > 1000:
            lista8.remove(i)
print(lista8)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160, 168, 176, 184, 192, 200, 208, 216, 224, 232, 240, 248, 256, 264, 272, 280, 288, 296, 304, 312, 320, 328, 336, 344, 352, 360, 368, 376, 384, 392, 400, 408, 416, 424, 432, 440, 448, 456, 464, 472, 480, 488, 496, 504, 512, 520, 528, 536, 544, 552, 560, 568, 576, 584, 592, 600, 608, 616, 624, 632, 640, 648, 656, 664, 672, 680, 688, 696, 704, 712, 720, 728, 736, 744, 752, 760, 768, 776, 784, 792, 800, 808, 816, 824, 832, 840, 848, 856, 864, 872, 880, 888, 896, 904, 912, 920, 928, 936, 944, 952, 960, 968, 976, 984, 992, 1000]

## People

In [168]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [169]:
# your code here
len(people)

5

**How many people have kids**?

In [170]:
listaa=0
for elem in people: 
    if elem['n_kids'] > 0:
        listaa +=1
print(listaa)

4

**How many kids do they have in total?**

In [171]:
# your code here
numero_de_niños=0
Lista=[]
for eleme in people:
    Lista.append(eleme['n_kids'])
print(Lista)
for L in Lista:
    numero_de_niños += L
print(numero_de_niños)

[2, 0, 1, 2, 5]
10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [174]:
# your code here
people2=[]
for y in people:
    people2.append(y)
    
for i in people2:
    if i['name'].endswith('a'):
        i['n_kids']=+1
        
print(people2)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 1}, {'name': 'Lucía', 'age': 22, 'n_kids': 1}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]